.card.filters {
    display: none;
}

.col-6.bukaFilter {
    display: none;
}

.col-6.tutupFilter {
    display: none;
}
/* Atur lebar dan tinggi notifikasi */
.swal2-popup {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 300px; /* Ganti dengan lebar yang diinginkan */
    height: auto; /* Sesuaikan dengan kebutuhan, atau biarkan otomatis */
}
/* Atur font size untuk judul */
.swal2-title {
    font-size: 20px; /* Ganti dengan ukuran font yang diinginkan */
}
/* Atur font size untuk teks */
.swal2-content {
    font-size: 16px; /* Ganti dengan ukuran font yang diinginkan */
}
.breadcrumb-item a {
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

.breadcrumb-item a:hover {
    text-decoration: none;
    color: rgb(0, 136, 255);
    font-size: 18px;
    transition: 0.1s;
}

.kk.sembunyi {
    display: none;
}

.btn.btn-outline-warning.bukaKKbtn {
    display: none;
}

.btn.btn-danger.tutupKKbtn {
    display: none;
}

 /* Menambahkan gaya untuk membuatnya terlihat seperti pillbox */
.select2-selection__choice {
    /* background-color: #ff0000; */
    color: white;
    border: transparent;
    /* border-radius: 20px; */
    /* margin-right: 15px; */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    /* background-color: rgb(255, 255, 255);
    border-color: rgb(43, 43, 43); */
    border-radius: 40px;
    border: transparent;
    background-color: rgb(177, 94, 255);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 5px;
    font-weight: bold;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Times New Roman', serif;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    /* border-right: 1px solid #000000; */
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
    position: absolute;
    left: -2px;
    top: 0;
    /* bottom: -0.5px; */
    transition: 0.2s;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    background-color: #fe5050;
    color: #fff;
    transition: 0.2s;
}

.select2-container--default .select2-dropdown .select2-search__field:focus, .select2-container--default .select2-search--inline .select2-search__field:focus {
    outline: 0;
    border: transparent;
}

.garis {
    font-weight: bold;
    color: black;
}

#btncariKK {
    background-color: #3376EC;
    border-color: #3376EC;
    color: white;
}
#btncariKK:hover {
    background-color: #2657ab;
    border-color: #2657ab;
    color: white;
}
#resetKK {
    background-color: #D6D332;
    border-color: #D6D332;
    color: black;
}
#resetKK:hover {
    background-color: #afac29;
    border-color: #afac29;
    color: black;
}
#filterSemua {
    background-color: aqua;
    border-color: rgb(0, 200, 200);
    color: rgb(0, 0, 0);
}
#filterSemua:hover {
    background-color: rgb(0, 198, 198);
    border-color: rgb(0, 200, 200);
    color: rgb(0, 0, 0);
}
#resetFilter {
    background-color: red;
    border-color: red;
    color: rgb(255, 255, 255);
}
#resetFilter:hover {
    background-color: rgb(206, 0, 0);
    border-color: rgb(206, 0, 0);
    color: rgb(255, 255, 255);
}
#tombolDropDown {
    background-color: transparent;
    border-color: transparent;
    color: black;
}
#tombolDropDown:hover {
    color: rgb(172, 71, 255);
    font-size: 16.6px;
    cursor: pointer;
}
#btn-export-excel:hover {
    color: rgb(172, 71, 255);
    background-color: rgb(230, 230, 230);
    font-size: 16.6px;
    cursor: pointer;
}
#btn-export-csv:hover {
    color: rgb(172, 71, 255);
    background-color: rgb(230, 230, 230);
    font-size: 16.6px;
    cursor: pointer;
}